.musicTitle {
    display: flex;
    align-items: center;
    gap: 20px;
    &__img {
        height: 100%;
    }
    &__text {
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        &__name {
            font-size: 16px;
            font-weight: 600;
        }
        &__autor {
            font-size: 10px;
            font-weight: 400;
        }
    }
}