.musicTitle {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 300px;
    &__img {
        height: 100%;
    }
    &__text {
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        &__name {
            font-size: 14px;
            font-weight: 600;
        }
        &__author {
            font-size: 12px;
            font-weight: 400;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}