@import './../../../style/Vars.scss';
.musicTitle {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 300px;
    &__img {
        height: 100%;
    }
    &__text {
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        &__name {
            font-size: 14px;
            font-weight: 600;
            cursor: default;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &__author {
            font-size: 12px;
            font-weight: 400;
            &:hover {
                text-decoration: underline;
                color: $colorGreen;
            }
        }
    }
}

.box__authors {
    display: flex;
    gap: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}