.theBest {
    background-color: rgba(255, 255, 255, .05);
    height: 220px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    &__link {
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__boxImg {
        &__img {
            height: 100px;
        }
    }
    &__boxText {
        display: flex;
        flex-direction: column;
        gap: 5px;
        &__name {
            font-size: 28px;
            font-weight: 700;
        }
    } 
}