.release {
    display: flex;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .05);
    &__link {
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    &__boxImg {
        max-width: 200px;
        &__img {
            width: 100%;
        }
    }
    &__boxText {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__name {
            font-size: 16px;
            font-weight: 600;
        }
        &__description {
            font-size: 16px;
            font-weight: 400;
            opacity: 0.8;
        }
    }
    &:hover {
        background-color: rgba(255, 255, 255, .1);
    }
}