.recommendation {
    &__headline {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__header {
            font-size: 28px;
            font-weight: 600;
            &:hover {
                text-decoration: underline;
            }
        }
        &__all {
            font-size: 16px;
            font-weight: 600;
             &:hover {
                text-decoration: underline;
            }
        }
    }
}