@import './../../Style/hoverEffect.scss';

.header {
    position: fixed;
    left: 250px;
    width: calc(100% - 250px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.history {
    display: flex;
    gap: 20px;
    &__button {
        background-color: inherit;
        height: 30px;
        width: 30px;
        position: relative;
        border-radius: 100%;
        border: 2px solid white;
        @extend .hoverEffect;
    }
}

.buttonBack {
    &:after {
        position: absolute;
        top: 5px;;
        left: 7px;
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        border-left: 4px solid white;
        border-bottom: 4px solid white;
        transform: rotate(45deg);
    }
}

.buttonUp {
    &:after {
        position: absolute;
        top: 5px;;
        right: 7px;
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        border-left: 4px solid white;
        border-bottom: 4px solid white;
        transform: rotate(-135deg);
    }
}