.playerControl {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__buttons {
        display: flex;
        align-items: center;
        gap: 20px;
        &__button {
            background-color: inherit;
            border: none;
            &__img {
                height: 20px;
            }
            &__imgBig {
                height: 40px;
            }
        }
    }
    &__bar {
        display: flex;
        align-items: center;
        gap: 15px;
        &__time {
            font-size: 14px;
            font-weight: 600;
        }
    }
}

.progressBar {
    width: 300px;
    height: 5px;
    background-color: gray;
    border-radius: 10px; 
    &__progress {
        border-radius: 10px; 
        width: 120px;
        margin: auto 0;
        height: 5px;
        background-color:white;
    }
}