.fakePlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 0.2rem solid white;
    border-radius: 50%;
    background-color: inherit;
    /* filter: drop-shadow(0 0 3.1rem rgba(255,255,255, 0.8)); */
}


.play {
    height: 0;
    width: 0;
    background: none;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: calc(10px * 2 * 0.86) solid white;
    
}

.pause {
    position: relative;
    background: none;
    border: none;
    height: calc(10px * 2);
    width: calc(10px * 2 * 0.86);
    &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 33%;
        background: white;
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
}
