@import-normalize;

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    color: white;
    overflow: hidden;
    display: grid;
    grid-template-columns: 250px 1fr;
    background: #121212;

    min-height: 700vh;
}

span {
    /* cursor: default; */
}

button {
    cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor:  pointer;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255, 0.4);
    &__hover {
        background-color: rgb(255, 255, 255, 0.6);
    }
}

.main {
    flex: 1 1 auto;
    margin: 60px 0 100px 0;
    width: 100%;
    padding: 20px;
}