@import-normalize;
@import './style/scrollbar.scss';

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

.wrapper {
    color: white;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 250px 1fr;
    background: #121212;
    min-height: 110vh;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    cursor:  pointer;
}

.main {
    flex: 1 1 auto;
    margin: 60px 0 100px 0;
    width: 100%;
    padding: 20px;
}