.container {
    display: flex;
    align-items: center;
    gap: 15px;
    &__time {
        font-size: 14px;
        font-weight: 600;
    }
}

.progressBar {
    width: 300px;
    height: 5px;
    background-color: gray;
    border-radius: 10px; 
    &__progress {
        border-radius: 10px; 
        width: 0%;
        margin: auto 0;
        height: 5px;
        background-color:white;
    }
}