@import './../../../../Style/Vars.scss';

.container {
    display: flex;
    align-items: center;
    gap: 15px;
    &__time {
        cursor: default;
        font-size: 14px;
        font-weight: 600;
    }
}

.progressBar {
    transition: all 0.3s;
    width: 300px;
    height: 6px;
    border-radius: 10px;
    cursor: pointer;
    &__progress {
        transition: all 0.3s;
        border-radius: 10px; 
        width: 0%;
        margin: auto 0;
        height: 6px;
    }
}

.noHover {
    background-color: gray;
    .progressBar__progress {
        background-color: white;
    }
}

.hover {
    background-color: white;
        .progressBar__progress {
            background-color: $colorGreen;
        }
}