.playListTitle {
    display: flex;
    gap: 50px;
    &__boxImg {
        max-width: 300px;
        max-height: 300px;
        &__img {
            height: 300px
        }
    }
    &__boxText {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        &__name {
            font-size: 42px;
            font-weight: 700;
        }
    }
}

.playListBtnPlay {
    padding: 40px 20px;
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        width: 70px;
        border-radius: 500px;
        border: none;
        background-color: #1ed760;
        &__img {
            width: 50px;
        }
    }
}


