.player {
    background-color: #181818;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    display: flex;
    padding: 15px 30px 15px 24px;
    justify-content: space-between;
}