@import './../../../Style/Vars.scss';
@import './../../../Style/hoverEffect.scss';

.sound {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    width: 300px;
}

.button {
    padding: 0;
    border: none;
    background-color: inherit;
    @extend .hoverEffect;
    &__img {
        transition: all 0.2s;
        height: 30px;
    }
    &:active {
        .button__img {
            height: 27px;
        }
    }
}