@import './../../../Style/Vars.scss';
@import './../../../Style/hoverEffect.scss';

.sound {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    width: 200px;
}

.button {
    padding: 0;
    border: none;
    background-color: inherit;
    @extend .hoverEffect;
    &__img {
        transition: all 0.2s;
        height: 30px;
    }
    &:active {
        .button__img {
            height: 27px;
        }
    }
}

.progressBar {
    transition: all 0.3s;
    cursor: pointer;
    height: 6px;
    width: 100px;
    border-radius: 10px;
    &__progress {
        transition: all 0.3s;
        height: 6px;
        width: 34px;
        border-radius: 10px;
    }
}

.noHover {
    background-color: gray;
    .progressBar__progress {
        background-color: white;
    }
}

.hover {
    background-color: white;
        .progressBar__progress {
            background-color: $colorGreen;
        }
}