$colorGreen: rgb(30, 215, 96);
$colorGreenDim: rgba(30, 215, 96, .5);
$colorMainBackground: #121212;
$colorItemBackground:rgba(255, 255, 255, .1);
$colorhoverItemBackground: rgba(255, 255, 255, .2);
$colorWhite: white;