@import './../../style/hoverEffect.scss';

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 50%;
    background-color: inherit;
    @extend .hoverEffect
}

.play {
    height: 0;
    width: 0;
    background: none;
    border: none;
    transition: all 0.3s;    
}

.pause {
    position: relative;
    background: none;
    border: none;
    transition: all 0.3s;
    &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 33%;
        background: white;
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
}
