@import './../../../../Style/Vars.scss';

.searchForm {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.searchInput {
    background-color: white;
    border-radius: 20px;
    height: 40px;
    width: 85%;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
}

.searchButton {
    width: 12%;
    border-radius: 50px;
    background-color: $colorGreen;
    color: black;
    font-size: 16px;
    font-weight: 600;
    border: none;
    &:active {
        border: 3px green solid;
    }
}